
@use './../variables' as *;  
@use '../mixins' as mix;     


.card-maquina {
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.card-maquina:hover {
    border: 3px solid #ffc107 !important;
}

.card-vehiculo{
    
    transition: all 0.3s ease;
    border: 2px solid transparent;

}
.card-vehiculo:hover{
    border: 3px solid #008000 !important;
}
.card-rendimiento{
    transition: all 0.3s ease;
    border: 2px solid transparent;
}
.card-rendimiento:hover{
    border: 3px solid #3498DB!important;
}