---
import '@/styles/main.scss';
---

<form class="login-form" action="/dashboard" method="GET">
  <div class="form-group">
    <label for="email" class="input-label">Correo</label>
    <input 
      type="email" 
      id="email"
      class="form-input" 
      placeholder="Ingresa tu correo" 
      name="email"
      required 
    />
  </div>
  
<div class="form-group">
  <label for="password" class="input-label">Contraseña</label>
  <input 
    type="password" 
    id="password"
    class="form-input" 
    placeholder="Ingresa tu contraseña" 
    name="password"
    required 
  />
  <div class="forgot-password">
    <a href="/recuperar" class="forgot-link">¿Olvidaste tu contraseña?</a>
  </div>
</div>



  <button class="login-button" type="submit">
    Iniciar Sesión
  </button>
</form>