//variablesConfig.scss

$usuarios-color: rgba(52, 152, 219, 0.15);
$obras-color:rgba(255, 165, 0, 0.15);
$personal-color: #10b981;
$actividades-color:rgba(255, 0, 0, 0.08);
$obras-color-border:#f59e0b;
$actividades-color-border: #ef4444;
$usuarios-color-border: #3498DB;
$background-color: #6c757d;
$light-gray: #f8f9fa;
$hover-color: #2980b9;
